/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

/*.wp-block-cgb-am360view-advanced, */
.am360view  {
}

/* !!! Try adding class align<name> instead
.am360view[data-align="full"]  {
  width: 100vw!important;
  max-width: 100vw!important;
}

.am360view[data-align="wide"]  {
  max-width: 1200px;
}

.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"] {
  margin-left: -10px;
  margin-right: -10px;
}
*/
